body{
    font-size: 16px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background: url('../images/page.jpg') repeat;
    background-attachment: fixed, fixed, fixed !important;
}

.headeremi{
    background: rgba(0,0,0,0.5);
    border-color: transparent;
    z-index: 1;
    height: 11em;
    margin: 0;
}
.navbar-brand img
{
    width: 100%;
    margin: 0;
}
.panel > .panel-default
{
    margin: 0;
}
.panel > .panel-heading
{
    color: #dfff07;
    background-color: #41aef1;
    background: -webkit-linear-gradient(top, #41aef1 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    background: -moz-linear-gradient(top, #41aef1 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    background: -o-linear-gradient(top, #41aef1 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    background: -ms-linear-gradient(top, #41aef1 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    /* background: linear-gradient(to bottom, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat; */
    -svg-background: linear-gradient(top, #41aef1 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    margin: 0;
}
.panel > .aynose
{
    color: #dfff07;
    background-color: #56b9fc;
    background: -webkit-linear-gradient(top, #56b9fc 0, #339fe7 40%, #1c88d3 80%, #116aba 100%) no-repeat;
    background: -moz-linear-gradient(top, #56b9fc 0, #339fe7 40%, #1c88d3 80%, #116aba 100%) no-repeat;
    background: -o-linear-gradient(top, #56b9fc 0, #339fe7 40%, #1c88d3 80%, #116aba 100%) no-repeat;
    background: -ms-linear-gradient(top, #56b9fc 0, #339fe7 40%, #1c88d3 80%, #116aba 100%) no-repeat;
    /* background: linear-gradient(to bottom, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat; */
    -svg-background: linear-gradient(top, #56b9fc 0, #339fe7 40%, #1c88d3 80%, #116aba 100%) no-repeat;
    margin: 0;
}
.disquepanel
{
    border-top: 3px solid #ffffff;
    background-color: #144571;
    background: -webkit-linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    background: -moz-linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    background: -o-linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    background: -ms-linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    /* background: linear-gradient(to bottom, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat; */
    -svg-background: linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
    color: #dfff07;
    position: relative;
    margin: 0;
}

.navbar-nav
{
    margin-top: 0;
}
.navbar-default .navbar-nav > li{
    margin-top: 0;
}
.navbar-default .navbar-nav > li > a {

    color: white;
}
.aynose img{
    width: 80%;
}
.embed-responsive{
    margin-bottom: 20px;
}
.navbar-collapse.in{
    color: white;
    background: rgba(0,0,0,0.8);
    border-color: white;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    padding-bottom: 168px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
    color: #56b9fc;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: antiquewhite;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    color: #adca07;
}
.modal {
    /* ... */
    overflow-y: scroll;
}
@media (min-width: 768px) {
    body{
        font-size: 16px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        background: url('../images/page.jpg') repeat;
        background-attachment: fixed, fixed, fixed !important;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        padding-bottom: 0;
    }
    .headeremi{
        background: rgba(0,0,0,0.5);
        border-color: transparent;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 10em;
    }
    .navbar-brand img
    {
        margin-left: 3em;
        padding-top: 2px;
        padding-bottom: 15px;
        width: 100%;
        height: 130px;
        margin-top: -0.5em;
    }
    .navbar-default .navbar-nav > li
    {
        margin-top: 4em;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav > li > a {
        background-color: transparent;

        color: #ffffff;
    }
    .list-group-item {
        background-color: #144571;
        background: -webkit-linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
        background: -moz-linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
        background: -o-linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
        background: -ms-linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;
        /* background: linear-gradient(to bottom, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat; */
        -svg-background: linear-gradient(top, #154875 0, #154B79 40%, #154B79 80%, #0D2D4A 100%) no-repeat;

    }
    .glyphicon:before {
        margin-right: 0.5em;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #5DA0BB;
        background-color: transparent;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
    {
        color: #cbc8c0;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: transparent;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img
    {
        position: relative;
        height: auto;
        width: 100%;
        top: 0;
        display: inline;
    }
    footer{
        text-align: center;
        font-weight: 300;
        color: white;
    }
    .dropdown-menu > li > a {
        color: white;
    }

    #rowbut:after, #rowbut:before {

        content: "";
        left: 50%;
        bottom: -17px;
        margin-left: 0%;
        border-radius: 3px;
        border: 10px solid transparent;
        border-top-width: 7px;
        border-top-color: #144571;
        position: absolute;
    }

    .mega-dropdown{
        position: static !important;
    }
    .mega-dropdown-menu{
        padding: 20px 20px;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .mega-dropdown-menu > .list-group
    {
        background-color: red;
    }
    .navbar-brand img{
        width: 100%;
    }
    .aynose img
    {
        height: 200px;
        width: 50%;
    }

    a.list-group-item {
        color: white;
    }
    .navbar-nav > li > .dropdown-menu {


        background: rgba(0,0,0,0.7);
        border-color: transparent;
    }
    .list-group-item-active
    {
        color: white;
        text-align: center;
        font-weight: 600;

    }
    a.list-group-item:hover, a.list-group-item:focus {
        color: #dfff07;
    }
    .nosepass{
        margin-top: 40px;
    }

}